In [1]:
import wrds
#db.close()
db = wrds.Connection(wrds_username='jwhite36')
#db.create_pgpass_file()

Loading library list...
Done

In [3]:
import pandas as pd
df = pd.read_parquet('E:/OneDrive - James/OneDrive - University of Maryland/Echelon Labs/DB/derived/founders/self_identification/founders_self_ident.parquet')

In [7]:
db.list_tables(library="pitchbk_vc_na")
#db.list_libraries()

['vc_na_company',
 'vc_na_companybuysiderelation',
 'vc_na_companycompetitorrel',
 'vc_na_companyemployeehistrel',
 'vc_na_companyindustryrelation',
 'vc_na_companyinvestorrelation',
 'vc_na_companysiccoderelation',
 'vc_na_companysimilarrelation',
 'vc_na_companyverticalrelation',
 'vc_na_deal',
 'vc_na_dealdebtlenderrelation',
 'vc_na_dealdistribbenefrel',
 'vc_na_dealinvestorrelation',
 'vc_na_dealsellerrelation',
 'vc_na_dealtrancherelation',
 'vc_na_entityaffiliaterelation',
 'vc_na_entitylocationrelation',
 'vc_na_fund',
 'vc_na_investor',
 'vc_na_investorfundrelation']

In [8]:
table_description = db.describe_table(library='pitchbk_vc_na', table='vc_na_deal')

# Print the schema information
print(table_description)

Approximately 490620 rows in pitchbk_vc_na.vc_na_deal.
                              name  nullable              type  \
0                        companyid      True       VARCHAR(20)
1                      companyname      True      VARCHAR(255)
2                           dealno      True  DOUBLE_PRECISION
3                           dealid      True       VARCHAR(20)
4                         dealdate      True              DATE
..                             ...       ...               ...
75              impliedev_cashflow      True  DOUBLE_PRECISION
76             impliedev_netincome      True  DOUBLE_PRECISION
77             ebitdamarginpercent      True  DOUBLE_PRECISION
78                     lastupdated      True              DATE
79  revenuegrowthsincelastdebtdeal      True  DOUBLE_PRECISION

                           comment
0                        CompanyID
1                      CompanyName
2                           DealNo
3                           DealID
4                         DealDate
..                             ...
75              ImpliedEV_CashFlow
76             ImpliedEV_NetIncome
77             EBITDAMarginPercent
78                     LastUpdated
79  RevenueGrowthSinceLastDebtDeal

[80 rows x 4 columns]

In [5]:
import sqlalchemy
import pandas as pd
print("SQLAlchemy version:", sqlalchemy.__version__)
print("Pandas version:", pd.__version__)
print(type(db.connection))
print(db.connection)

SQLAlchemy version: 1.4.54
Pandas version: 2.0.3
<class 'sqlalchemy.engine.base.Connection'>
<sqlalchemy.engine.base.Connection object at 0x00000279DC181CA0>

In [9]:
import pandas as pd
from sqlalchemy import text

sql_query = text("""
SELECT *
FROM pitchbk_vc_na.vc_na_deal 
""")


df = pd.read_sql_query(
    sql_query,
    db.connection
)


print(f"Total rows retrieved: {len(df)}")
df.head(20)

Total rows retrieved: 491102

,companyid,companyname,dealno,dealid,dealdate,announceddate,dealsize,dealstatus,dealsizestatus,percentacquired,...,dealsize_revenue,valuation_revenue,impliedev_revenue,dealsize_cashflow,valuation_cashflow,impliedev_cashflow,impliedev_netincome,ebitdamarginpercent,lastupdated,revenuegrowthsincelastdebtdeal
0,100001-08,Zana (Educational and Training Services),1.0,40460-95T,None,None,NaN,Completed,None,NaN,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2025-11-15,NaN
1,100001-08,Zana (Educational and Training Services),2.0,40461-40T,2013-09-05,None,NaN,Completed,None,NaN,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2025-06-04,NaN
2,100003-15,Premama,1.0,156922-48T,None,None,0.025000,Completed,Actual,NaN,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2024-07-16,NaN
3,100003-15,Premama,2.0,47208-70T,2014-04-01,2012-02-01,0.522359,Completed,Actual,26.120,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2024-09-11,NaN
4,100003-15,Premama,3.0,58843-18T,2015-10-07,None,1.399999,Completed,Actual,41.180,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2024-09-11,NaN
5,100003-15,Premama,4.0,78256-63T,2017-03-01,2016-01-01,3.250000,Completed,Actual,31.710,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2024-09-11,NaN
6,10979-11,Gearworks,1.0,18971-02T,1999-01-01,None,0.600000,Completed,Actual,NaN,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2021-02-02,NaN
7,100003-15,Premama,6.0,102858-40T,2020-04-28,2018-03-02,3.500001,Completed,Actual,31.820,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2024-09-11,NaN
8,100003-15,Premama,7.0,156922-66T,2021-02-08,None,5.900000,Completed,Actual,28.230,...,1.072727,3.8,None,NaN,NaN,None,None,NaN,2024-09-11,NaN
9,100003-15,Premama,9.0,188786-35T,2022-01-01,None,NaN,Completed,None,NaN,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2024-09-11,NaN
10,100004-77,World Energy Labs,1.0,40455-55T,2006-11-30,None,1.884050,Completed,Actual,NaN,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2024-03-13,NaN
11,100004-77,World Energy Labs,2.0,40455-46T,2007-07-26,2006-12-18,5.159052,Completed,Actual,NaN,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2024-03-13,NaN
12,100005-67,BCV Social,1.0,39957-04T,None,None,NaN,Completed,None,NaN,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2023-09-12,NaN
13,100005-85,G2See,1.0,40406-05T,None,None,NaN,Completed,None,NaN,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2024-08-20,NaN
14,100006-12,ChainSync,1.0,46192-78T,2014-11-25,None,0.500000,Completed,Actual,NaN,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2025-08-21,NaN
15,100026-55,The Vintners' Alliance,1.0,40366-90T,2011-09-07,None,1.300000,Completed,Actual,NaN,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2025-11-15,NaN
16,100006-93,Philo Media,1.0,40413-79T,2012-12-03,None,0.800000,Completed,Actual,26.670,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2025-01-10,NaN
17,100006-93,Philo Media,2.0,51424-75T,2014-12-01,2014-11-13,0.700000,Completed,Actual,12.070,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2025-01-10,NaN
18,100006-93,Philo Media,3.0,77237-38T,2021-12-01,2016-05-01,2.500000,Completed,Actual,9.035,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2025-01-10,NaN
19,100006-93,Philo Media,4.0,218544-22T,2023-12-31,None,3.000000,Completed,Estimated,NaN,...,NaN,NaN,None,NaN,NaN,None,None,NaN,2025-01-31,NaN

In [10]:
df.to_parquet(r"C:\Users\jwhite36\Downloads\vc_na_deal.parquet")

In [7]:
df.to_parquet(r"D:\Echelon-Labs\rules_context\debugging_data\warn_refresh.parquet")

In [16]:
df.to_parquet('founders_self_ident.parquet')

In [ ]:
sql_query = """
SELECT rcid
FROM revelio.individual_positions
LIMIT 10000
"""
#params = ('%american%', '%airline%')
#21007446
df_indv_pos = pd.read_sql_query(sql_query, db.connection)
df_indv_pos.head(10)

,user_id,position_id,country,state,metro_area,startdate,enddate,role_k1500,remote_suitability,weight,start_salary,end_salary,seniority,salary,position_number,rcid,ultimate_parent_rcid,total_compensation,additional_compensation
0,97944024.0,-8.817629e+18,United States,None,None,2023-07-01,None,captain,0.500000,1.124055,84377.01,79972.71,4,79972.71,6,21007446,21007446,92931.41,12958.70
1,306825166.0,-5.530919e+18,None,None,None,2016-05-01,2017-04-01,captain,0.450025,1.093280,31455.34,31218.82,1,31218.82,7,21007446,21007446,33540.64,2321.82
2,85772462.0,9.084985e+18,United States,Oklahoma,tulsa metropolitan area,2005-01-01,2006-12-01,systems engineer,0.888658,1.033217,60962.35,64709.30,2,64709.30,2,21007446,21007446,68754.69,4045.39
3,97944860.0,2.001347e+18,United States,Oklahoma,tulsa metropolitan area,1994-01-01,2009-01-01,installer,0.465945,1.301879,20157.86,31494.03,1,31494.03,1,21007446,21007446,34823.61,3329.58
4,97959254.0,3.073524e+18,United States,Florida,florida nonmetropolitan area,1989-02-01,None,captain,0.382824,1.223642,34235.40,75646.50,3,75646.50,1,21007446,21007446,80109.83,4463.33
5,111042536.0,-1.291212e+18,United States,Illinois,chicago metropolitan area,2011-04-01,2012-04-01,crew,0.170737,1.257907,28590.84,30390.19,1,30390.19,3,21007446,21007446,32496.23,2106.03
6,123927671.0,-4.433991e+18,United States,Oklahoma,tulsa metropolitan area,1988-01-01,None,machinist,0.517875,1.167518,17638.33,39421.73,1,39421.73,1,21007446,21007446,39421.73,0.00
7,123936469.0,3.515031e+18,None,None,None,1981-04-01,2002-04-01,passenger service agent,0.083575,1.026882,4830.60,9788.46,1,9788.46,2,21007446,21007446,10669.74,881.28
8,123941669.0,8.581072e+18,United States,Texas,texas nonmetropolitan area,2021-07-01,None,front agent,0.066390,1.458731,21654.43,24301.21,1,24301.21,8,21007446,21007446,27797.18,3495.97
9,123960155.0,-2.961701e+18,United States,Florida,miami metropolitan area,None,None,finance,0.288359,1.042857,26656.72,43096.29,2,43096.29,4,21007446,21007446,54588.67,11492.38

In [12]:
# help(db.describe_table)
db.list_tables(library='revelio')
#db.describe_table(table='individual_positions', library='revelio')

['company_mapping',
 'individual_positions',
 'individual_positions_raw',
 'individual_role_lookup',
 'individual_user',
 'individual_user_education',
 'individual_user_education_raw',
 'individual_user_raw',
 'individual_user_skill_lookup',
 'individual_user_skills',
 'months',
 'postings_aggregator',
 'postings_aggregator_raw',
 'postings_linkedin',
 'postings_linkedin_raw',
 'regions',
 'sentiment_individual_reviews',
 'sentiment_role_lookup',
 'sentiment_scores',
 'workforce_dynamics_geo']